.container {
  padding: 2rem 4rem;
}

.container-fluid {
  padding: 2rem 1.5rem;
}

.btn-invite {
  border: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  background: linear-gradient(
    90deg,
    rgba(49, 211, 92, 1) 0%,
    rgba(43, 183, 218, 1) 100%
  );
  color: var(--White);
  padding: 1rem 2rem;
  border-radius: 100px;
  cursor: pointer;
}

.btn-invite:hover {
  opacity: 0.6;
}

.grid-2 {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 5%;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 3rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--Very-Light-Gray);
  z-index: 99;
  box-shadow: 0 0.3rem 2rem var(--Grayish-Blue);
}
